*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: none;
}

.header-container-padre {
    margin-bottom: 20px;
    font-family: sans-serif;
    height: 45px;
  }

.header-logo{
    width: 19%;
    text-align: center;
  }

.navbar{
    width: 60%;
    text-align: center;
}
.action{
    width: 19%;
    text-align: right;
  }
  


.header-container-padre nav, a, ul, li, div, button{
    display: inline-block;
}

.header-container-padre a, img{    
    margin-top: 5px;
}

nav a {
    margin-right: 25px;
    margin-left: 25px;
    color: #025157;
}

.action a, button{

    text-align: right;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
} 

.action button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 5px;
}

.action a{
    color: #67b54b;
}

.main-container{
    background-color: green;
    height: 350px;
    padding: 20px;
}

main section, h1{
    margin-right: 10%;
    margin-left: 10%;
}

main h1{

    margin-bottom: 20px;
}

main article{
    margin-left: 40px;
}

.social-container{
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
}

.social-container div{
    display: inline;
    margin-left: 5%;
    
}


.ocio-container{
    background-color: green;
    height: 350px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.ocio-container section, h2{
    margin-right: 10%;
    margin-left: 10%;
}